.flippable {
	position: absolute;
	background-color: transparent;
	width: 150px;
	height: 200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
}
.flippable_inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;

	transition: transform 0.4s;
	transform-style: preserve-3d;
}
.flippable.is-flipped .flippable_inner {
	transform: rotateY(180deg);
}
.discard {
	transform: translateX(150%);
	transition: transform 0.4s;
}
.returnToPile {
	animation: returnToBottom 0.8s;
}
@keyframes returnToBottom {
	0% {
		top: 0px;
		left: 0px;
		/*width: 100%;
		height: 100%; */
	}

	50% {
		top: 50px;
		left: 110px;
		width: 175px;
		height: 240px;
		rotate: 30deg;
	}
	75% {
		rotate: -30deg;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 150px;
		height: 200px;
		rotate: 0deg;
	}
}
/* Position the front and back side */
.flippable_front,
.flippable_back {
	position: absolute; /*and container is relative*/
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden; /* in 3d makes side facing away visible or not*/
}
/* Style the front side (fallback if image is missing) */
.flippable_front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.flippable_back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
}
